/*INDEX*/
body{
    background-color: white;
}

#top{
    width: 1002px;
    margin: 0px auto;
    background-color: white;
}

header {
    background-color: white;
    width: 1350px;
    height: 350px;
    margin-top: -14px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top-style: double;
    border-top-width: 8px;
    border-top-color: #C80000;
}

.logo {
    position: left;
    margin-bottom: -125px;
}

nav ul{
    background-color: white;
    font-family: "Browallia New", sans-serif;
    font-size: 22px;
    text-align: right;
    padding: 0;
    
}

nav ul li{
    display: inline-block;
    padding: 35px 20px;
}

nav a {
    color: #C80000;
}

#copy{
    background-color: #C80000;
    height: 50px;
    width: 1350px;
    margin-top: 100px;
}

footer#copy center{
    color: white;
    font-family: "Browallia New", sans-serif;
    font-size: 22px;
    padding-top: 10px;
    margin-top: 20px;

}

/*BERANDA*/
#konten{
    width: 1002px;
    margin: -22px auto;
}

.containerB{
    background-color: white;
    min-height: 100px;
    margin-top: -30px;
}

.containerB1 {
    min-height: 250px;
    width: 495px;
    background-color:white;
}

.containerB1a{
    height: 182px;
    width: 495px;
    background-image: url("gambar/candi1a.jpg");
}

.containerB1b{
    height: 58px;
    width : 60px;
    background-image: url("candi2.png");
    margin-top: 10px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
}

.containerB1c{
    height: 58px;
    width: 435px;
    background-color: white;
    margin-left: 62px;
    margin-top: -58px;
    padding-left: 10px;
    font-family: "Browallia New", sans-serif;
    font-size: 20px;
    color: #808080;
}

.containerB2 {
    min-height: 250px;
    width: 495px;
    background-color:#white;
    margin-left: 505px;
    margin-top: -250px;
}

.containerB2a{
    height: 182px;
    width: 495px;
    background-image: url("gambar/candibadut1.jpg");
}

.containerB2b{
    height: 58px;
    width : 60px;
    background-image: url("candi2.png");
    margin-top: 10px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
}

.containerB2c{
    height: 58px;
    width: 435px;
    background-color: white;
    margin-left: 62px;
    margin-top: -58px;
    padding-left: 10px;
    font-family: "Browallia New", sans-serif;
    font-size: 20px;
    color: #808080;
}

.containerB3 {
    min-height: 250px;
    width: 495px;
    background-color:#white;
    margin-top: 40px;
}

.containerB3a{
    height: 182px;
    width: 495px;
    background-image: url("gambar/candisingasari1.jpg");
}

.containerB3b{
    height: 58px;
    width : 60px;
    background-image: url("candi2.png");
    margin-top: 10px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
}

.containerB3c{
    height: 58px;
    width: 435px;
    background-color: white;
    margin-left: 62px;
    margin-top: -58px;
    padding-left: 10px;
    font-family: "Browallia New", sans-serif;
    font-size: 20px;
    color: #808080;
}
.containerB4 {
    min-height: 250px;
    width: 495px;
    background-color:white;
    margin-left: 505px;
    margin-top: -250px;
}

.containerB4a{
    height: 182px;
    width: 495px;
    background-image: url("gambar/candisumberawan1.jpg");
}

.containerB4b{
    height: 58px;
    background-image: url("candi2.png");
    width : 60px;
    margin-top: 10px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
}

.containerB4c{
    height: 58px;
    width: 435px;
    background-color: white;
    margin-left: 62px;
    margin-top: -58px;
    padding-left: 10px;
    font-family: "Browallia New", sans-serif;
    font-size: 20px;
    color: #808080;
}

/*CANDI|VIDEO|GALERI*/
.headerK{
    width: 1350px;
    height: 400px;
    margin-top: 15px;
}

/*.cover{
    background-color: #380000 opacity %;
    width: 1350px;
    height: 400px;

}*/

.logoK{
    width: 77px;
    height: 77px;
    margin-top: 40px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
}

.tittleK{
    background-color: white;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 40px;
    width: 200px;
    height: 50px;
    margin-top: -65px;
    margin-left: 87px;
}

.konten1{
    background-color: white;
    width: 700px;
    height: 300px;
    margin-top: 40px;
    margin-left: 150px;
}

.konten1a{
    background-color: white;
    width: 400px;
    height: 300px;
    border-right-style: dotted;
    border-right-color: #B8B8B8;
    margin-left: 0px;
}

.konten1b{
    background-color: white;
    width: 290px;
    height: 40px;
    margin-left: 410px;
    margin-top: -300px;
    border-bottom-style: solid;
    border-bottom-color: #B8B8B8;
    border-bottom-width: 2px;
    padding :10px 10px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 30px;
}

.konten1c{
    background-color: white;
    width: 290px;
    height: 230px;
    margin-left: 410px;
    padding :10px 10px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 20px;
    text-align: justify;
}

.konten1d{
    background-color: #B8B8B8;
    width: 120px;
    height: 20px;
    margin-left: 600px;
    margin-top: -40px;
    padding-bottom: 5px;
    font-family: "Browallia New", sans-serif;
    color: white;
    font-size: 20px;
	text-decoration:none;
	
}

.box{
    background-color: white;
    width: 775px;
    height: 280px;
    margin-top: 40px;
    margin-left: 130px;
}

.box1a{
    background-color: #B8B8B8;
    width: 250px;
    height : 250px;
}

.box1b{
    background-color: #B8B8B8;
    width: 250px;
    height: 20px;
    margin-top:10px;
    font-family: "Browallia New", sans-serif;
    color: white;
    font-size: 16px;
}

.box2a{
    background-color: #B8B8B8;
    width: 250px;
    height : 250px;
    margin-left: 260px;
    margin-top: -280px;
}

.box2b{
    background-color: #B8B8B8;
    width: 250px;
    height: 20px;
    margin-top:10px;
    margin-left: 260px;
    font-family: "Browallia New", sans-serif;
    color: white;
    font-size: 16px;
}

.box3a{
    background-color: #B8B8B8;
    width: 250px;
    height : 250px;
    margin-left: 520px;
    margin-top: -280px;
}

.box3b{
    background-color: #B8B8B8;
    width: 250px;
    height: 20px;
    margin-top:10px;
    margin-left: 520px;
    font-family: "Browallia New", sans-serif;
    color: white;
    font-size: 16px;
}

.nextG{
    background-color: white;
    width: 60px;
    height: 20px;
    margin-left: 840px;
    margin-top: 45px;
    padding-bottom: 5px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 20px;
}

.backG{
    background-color: white;
    width: 60px;
    height: 20px;
    margin-left: 130px;
    margin-top: 45px;
    padding-bottom: 5px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 20px;
}

.next{
    background-color: white;
    width: 60px;
    height: 20px;
    margin-left: 809px;
    margin-top: 45px;
    padding-bottom: 5px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 20px;
}

.back{
    background-color: white;
    width: 60px;
    height: 20px;
    margin-left: 145px;
    margin-top: 45px;
    padding-bottom: 5px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 20px;
}


/*candi*/
.tittleCandi{
    background-color: white;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 24px;
    width: 1000px;
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #B8B8B8;
}

.kotak1{
    background-color: #B8B8B8;
    width: 496px;
    height: 300px;
    margin-top: 15px;
    margin-left: 10px;
}

.kotak2{
    background-color: white;
    width: 496px;
    height: 400px;
    margin-top: -300px;
    margin-left: 516px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 21px;
    text-align: justify;
}

.kotak3{
    background-color: white;
    width: 992px;
    margin-top: -85px;
    padding-left: 10px;
    font-family: "Browallia New", sans-serif;
    color: #808080;
    font-size: 21px;
    text-align: justify;
    padding-bottom: 20px;
}




